<!-- start custom footer snippets -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  TeX: {
    extensions: ["mediawiki-texvc.js"],
    Macros: {
      complex: ['\\mathbb{C}'],
      norm: ['\\left\\lVert#1\\right\\rVert', 1],
      given: ['\\mathbin{\\vert}'],
      data: ['\\mathcal{D}'],
      argmax: ['\\mathop{\\arg\\,\\max}\\limits'],
    }
  }
  });
</script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<!-- end custom footer snippets -->
